/* date-styles.css */

.monthsOuterWrapper {
  display: flex;
  gap: 1rem;
  margin-left: 0;
  position: relative;
}

.currentMonth {
  white-space: nowrap;
  background: linear-gradient(to right, #75ebbc, #51b8b4);
  height: fit-content;
  padding: 0rem 2vw;
  width: fit-content;
  color: #22608a;
  user-select: none;
  cursor: pointer;
  font-size: 3rem;
  font-family: "Dela Gothic One", cursive;
  font-weight: 900;
  font-style: normal;
  transform: rotate(-5deg);
  line-height: 1.4;
  overflow: visible;
  margin-bottom: 2rem;
}

.monthsInnerWrapper {
  white-space: nowrap;
  user-select: none;
  display: flex;
  flex-direction: column;
  color: #22608a;
  background: linear-gradient(to right, #75ebbc, #3997af);
  padding: 0.5rem 0;
  font-size: 2rem;
  font-family: "Dela Gothic One", cursive;
  font-weight: 600;
  font-style: normal;
  display: none;
  position: absolute;
  top: 6rem;
  left: 0rem;
  z-index: 99;
}

.month {
  white-space: nowrap;
  padding: 0;
  padding-left: 5rem;
  padding-right: 15rem;
  cursor: pointer;
}

.month:hover {
  background-color: white;
}

.yearWrapper {
  height: 5rem;
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  font-family: "Open Sans", sans-serif;
  width: 15rem;
  justify-content: center;
  align-items: center;
}

.hiddenYear,
.displayedYear {
  white-space: nowrap;
  padding: 1vw 2vw;
  width: fit-content;
  user-select: none;
  cursor: pointer;
  font-size: 3rem;
  font-weight: 900;
  transform: rotate(5deg) translateY(-2rem);
  position: absolute;
  background-color: #3a98b0;
  font-family: "Dela Gothic One", cursive;
}

.hiddenYear {
  z-index: 2;
  color: #82ffc3;
}

.displayedYear {
  z-index: 3;
  color: #82ffc3;
}

.circleWrapper {
  background-color: white;
  font-size: 4rem;
  width: 7rem;
  height: 7rem;
  border-radius: 1000px;
  position: relative;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.3);
  z-index: 3;
}

.circleDigit {
  user-select: none;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0f81a3;
  font-style: normal;
  font-weight: 600;
  z-index: 3;
}

.horizontalLine {
  position: absolute;
  background-color: white;
  width: 100%;
  height: 0.7rem;
  z-index: 2;
  top: 6rem;
  box-shadow: 0px 5px 5px rgb(50, 50, 50);
}

.verticalLine {
  position: absolute;
  background-color: white;
  width: 0.7rem;
  height: 3rem;
  z-index: 2;
  top: 6rem;
  box-shadow: 0 3px 5px rgb(50, 50, 50);
}

.dateWrapper {
  display: flex;
  gap: 3vw;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.dateCalendrier {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 0rem;
  font-family: "Open Sans", sans-serif;
}

.statCalendrier {
  color: white;
  font-size: 5vw;
  text-align: center;
  user-select: none;
  margin-top: 2rem;
}
